.hll .hll { background-color: #ffffcc }
.hll  { background: #ffffff; }
.hll .c { color: #999988; font-style: italic } /* Comment */
.hll .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.hll .k { font-weight: bold } /* Keyword */
.hll .o { font-weight: bold } /* Operator */
.hll .ch { color: #999988; font-style: italic } /* Comment.Hashbang */
.hll .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.hll .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.hll .cpf { color: #999988; font-style: italic } /* Comment.PreprocFile */
.hll .c1 { color: #999988; font-style: italic } /* Comment.Single */
.hll .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.hll .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.hll .ge { font-style: italic } /* Generic.Emph */
.hll .gr { color: #aa0000 } /* Generic.Error */
.hll .gh { color: #999999 } /* Generic.Heading */
.hll .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.hll .go { color: #888888 } /* Generic.Output */
.hll .gp { color: #555555 } /* Generic.Prompt */
.hll .gs { font-weight: bold } /* Generic.Strong */
.hll .gu { color: #aaaaaa } /* Generic.Subheading */
.hll .gt { color: #aa0000 } /* Generic.Traceback */
.hll .kc { font-weight: bold } /* Keyword.Constant */
.hll .kd { font-weight: bold } /* Keyword.Declaration */
.hll .kn { font-weight: bold } /* Keyword.Namespace */
.hll .kp { font-weight: bold } /* Keyword.Pseudo */
.hll .kr { font-weight: bold } /* Keyword.Reserved */
.hll .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.hll .m { color: #009999 } /* Literal.Number */
.hll .s { color: #bb8844 } /* Literal.String */
.hll .na { color: #008080 } /* Name.Attribute */
.hll .nb { color: #999999 } /* Name.Builtin */
.hll .nc { color: #445588; font-weight: bold } /* Name.Class */
.hll .no { color: #008080 } /* Name.Constant */
.hll .ni { color: #800080 } /* Name.Entity */
.hll .ne { color: #990000; font-weight: bold } /* Name.Exception */
.hll .nf { color: #990000; font-weight: bold } /* Name.Function */
.hll .nn { color: #555555 } /* Name.Namespace */
.hll .nt { color: #000080 } /* Name.Tag */
.hll .nv { color: #008080 } /* Name.Variable */
.hll .ow { font-weight: bold } /* Operator.Word */
.hll .w { color: #bbbbbb } /* Text.Whitespace */
.hll .mb { color: #009999 } /* Literal.Number.Bin */
.hll .mf { color: #009999 } /* Literal.Number.Float */
.hll .mh { color: #009999 } /* Literal.Number.Hex */
.hll .mi { color: #009999 } /* Literal.Number.Integer */
.hll .mo { color: #009999 } /* Literal.Number.Oct */
.hll .sa { color: #bb8844 } /* Literal.String.Affix */
.hll .sb { color: #bb8844 } /* Literal.String.Backtick */
.hll .sc { color: #bb8844 } /* Literal.String.Char */
.hll .dl { color: #bb8844 } /* Literal.String.Delimiter */
.hll .sd { color: #bb8844 } /* Literal.String.Doc */
.hll .s2 { color: #bb8844 } /* Literal.String.Double */
.hll .se { color: #bb8844 } /* Literal.String.Escape */
.hll .sh { color: #bb8844 } /* Literal.String.Heredoc */
.hll .si { color: #bb8844 } /* Literal.String.Interpol */
.hll .sx { color: #bb8844 } /* Literal.String.Other */
.hll .sr { color: #808000 } /* Literal.String.Regex */
.hll .s1 { color: #bb8844 } /* Literal.String.Single */
.hll .ss { color: #bb8844 } /* Literal.String.Symbol */
.hll .bp { color: #999999 } /* Name.Builtin.Pseudo */
.hll .fm { color: #990000; font-weight: bold } /* Name.Function.Magic */
.hll .vc { color: #008080 } /* Name.Variable.Class */
.hll .vg { color: #008080 } /* Name.Variable.Global */
.hll .vi { color: #008080 } /* Name.Variable.Instance */
.hll .vm { color: #008080 } /* Name.Variable.Magic */
.hll .il { color: #009999 } /* Literal.Number.Integer.Long */