{% from 'macros/navbar.html' import navbar %}
{% from 'macros/copyright.html' import copyright %}
{% from 'macros/gitter_sidecar.html' import gitter_sidecar %}
{% from 'macros/bundle.html' import bundle %}
<!doctype html>
<head>
  <meta charset="utf-8">
  {{ bundle() }}
  {{ gitter_sidecar() }}
  <title>{% block title %}Welcome{% endblock %} | dry-python.org</title>
</head>
<body>
  <header>
    {{ navbar() }}
  </header>
  <div>
    {% block body %}
    {% endblock %}
  </div>
  <footer>
    {{ copyright() }}
  </footer>
</body>
