{% from 'components/navbar.html' import navbar %}
{% from 'components/copyright.html' import copyright %}
{% from 'components/bundle.html' import bundle %}
{% from 'components/gitter_sidecar.html' import gitter_sidecar %}
<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ bundle() }}
  <title>{% block title %}Welcome{% endblock %} | dry-python.org</title>
</head>
<body class="bg-grey-lightest">
  <header>
    {{ navbar() }}
  </header>
  <div>
    {% block body %}
    {% endblock %}
  </div>
  <footer>
    {{ copyright() }}
  </footer>
  {{ gitter_sidecar() }}
</body>
