{% from 'components/navbar-item.html' import navbar_item as link %}
{# FIXME: Rename navbar-item to the generic component #}

{% extends 'layout.html' %}

{% block title %}
  {{ this.title }}
{% endblock %}

{% block body %}
  {% for project in this.pagination.items %}
    {# FIXME: Move to the component. #}
    <div>
      <img src="{{ project.logo }}">
      <p>{{ project.description }}</p>
      {% call link(project.github) %}
        GitHub
      {% endcall %}
      {% call link(project.documentation) %}
        Documentation
      {% endcall %}
      {% call link(project.gitter) %}
        Gitter
      {% endcall %}
    </div>
  {% endfor %}
{% endblock %}
