{% extends 'layout.html' %}

{% block title %}
  {{ this.title }}
{% endblock %}

{% block header %}
<div class="header-content container">
  <h1 class="header-content__title">{{ this.title }}</h1>
  <h2 class="header-content__description">{{ this.description|safe }}</h2>
  <div class="container header-button-group">
    <a href="https://github.com/dry-python" class="header-button-group__button">
      GitHub
    </a>
  </div>
</div>
{% endblock header %}

{% block body %}
  {{ this.body }}
{% endblock %}
