@import "styles/progress-bar.css";
@import "styles/header.css";
@import "styles/menu-icon.css";
@import "styles/navbar.css";
@import "styles/text.css";
@import "styles/footer.css";
@tailwind preflight;
@tailwind components;
@tailwind utilities;
